nav {
  background-color: rgb(16, 109, 185);

  width: 100%;

  ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 3rem;

    li {
      padding: 1rem;
      a {
        font-size: 1.3rem;
        color: aliceblue;
      }
    }
  }
}
